body {
  -webkit-user-select: none;
}

a {
  background-color: green;
  padding: 10px;
  margin: 10px;
}

.wrapper {
  width:
  margin: 0
  1300px;
  auto;
}

.logo {
  background: url(../img/zeppelin.png);
  width: 110px;
  height: 110px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.header {
  background-color: orange;
  margin-bottom: 3px;
}

.text-phone2 {
  float: right;
  margin-top: 10px;
}

.text-main-banner-left {
  font-family: Arial, serif;
  font-style: italic;
  font-weight: bolder;
  width: 400px;
  font-size: 30px;
  text-decoration: blink;
  color: aliceblue;
  margin-left: 70px;
}

.text-main-banner-center {
  font-family: Arial, serif;
  font-style: italic ;
  font-weight: bolder;
  font-size: 30px;
  text-decoration: blink;
  color: aliceblue;
  text-align: center;
  width: 50%;
}

.text {
  font-family: Arial, serif;
  font-style: italic ;
  font-weight: bolder;
  font-size: 30px;
  text-decoration: blink;
  color: aliceblue;
  text-shadow: 1px 1px 2px black;
}

.text-main-banner-center-up {
  font-family: Arial, serif;
  font-style: italic ;
  font-weight: bolder;
  font-size: 55px;
  text-decoration: blink;
  color: aliceblue;
  text-align: center;
  margin: 5px;
}

.text-logo {
  font-family: Arial, serif;
  font-style: italic ;
  font-weight: bolder;
  font-size: 30px;
  text-decoration: blink;
  color: aliceblue;
  float: right;
  margin-right: 200px;
  text-shadow: 1px 1px 2px black;
}

.text-phone2 {
  font-family: Arial, serif;
  font-style: italic ;
  font-weight: bolder;
  font-size: 30px;
  text-decoration: blink;
  color: aliceblue;
}

.header-left {
  background-color: orange;
  height: 150px;
}

.header-right {
  background-color: orange;
  float: right;
}

.online {
  float: right;
  margin-top: 30px;
  text-decoration: none;
}

.text-phone {
  float: right;
}

.row-gor {
  height: 500px;
  margin-bottom: 5px;
  background-image: url(../img/forest-3840x2160-003.jpg);
  background-size: cover;
  background-repeat:;
  z-index: 50;
}

.main-banner-content {
  font-family: Arial, serif;
  font-style: italic ;
  font-weight: bolder;
  font-size: 65px;
  text-decoration: blink;
  color: white;
  margin-bottom: 100px;
  margin: 0px;
  text-align: center;
  background: rgba(255,255,255,0.0);
  shadow
}

.main-banner-content-text {
  font-family: Arial, serif;
  font-style: italic ;
  font-weight: bolder;
  font-size: 65px;
  text-decoration: blink;
  color: white;
  background: rgba(255,255,255,0.7);
  text-shadow: 1px 1px 2px black;
}

.main-banner-text {
  background: Green;
  width: 260px;
  height: 70px;
  line-height: 70px;
  font-size: 40px;
  font-weight: bolder;
  font-family: Arial, serif;
  font-style: italic ;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
  text-decoration: none;
}

.shadow {
  border-radius: 3px;
  box-shadow: 2px 2px 10px -2px black;
}

.main-banner-button {
  text-align: center;
  margin: 0px;
  margin-top: 50px;
  padding: 25px;
}

.row-main-banner {
  background: url(../img/less.jpg);
  background-size: auto 800px;
  height: 800px;
  margin-bottom: 3px;
}

.row {
  background-color:green;
  height: 500px;
  margin-bottom: 5px;
}

.row-sell {
  text-align: center;
  font-family: Arial, serif;
  font-style: italic ;
  font-weight: bolder;
  font-size: 50px;
  text-decoration: blink;
  color: aliceblue;
}

.row-photo-sell {
  width: 100px;
  margin-top: 15px;
}

.text-sell-down {
  font-size: 40px;
  text-shadow: 1px 1px 2px black;
  background: orange;
}

.text-sell-up {
  text-shadow: 1px 1px 2px black;
  margin: 5px;
}

.row-photo-reg {
  background: url(../img/forest-3840x2160-006.jpg);
  background-size: auto 800px;
  height: 700px;
  margin-bottom: 5px;
  padding: 50px 0;
}

.row-reg {
  text-align: center;
}

.text-reg {
  font-family: Arial, serif;
  font-style: italic ;
  font-weight: bolder;
  font-size: 50px;
  text-decoration: blink;
  color: aliceblue;
  background: rgba(0,0,0,0.8);
}

.buttom-reg {
  margin-top: 70px;
  width: 395px;
  height: 83px;
  margin: auto;
  padding: 25px;
}

.row-photo-3 {
  background: url(../img/1097610010.jpg);
  background-size: auto 800px;
  background-repeat: ;
  height: 800px;
  margin-bottom: 5px;
}

.footer {
  background-color: blue;
  height: 150px;
}

.banner {
  display: inline-block;
  padding: 50px 0;
  text-align: center;
  font-family: Arial, serif;
  font-style: italic ;
  font-weight: bolder;
  font-size: 40px;
  text-decoration: blink;
  color: aliceblue;
  width: 100%;
  background: rgba(0,0,0,0.8);
}

.banner .left {
  width: 33.33%;
  float: left;
}

.banner .center {
  width: 33.33%;
  float: left;
}

.banner .right {
  width: 33.33%;
  float: left;
}

.left {
  font-size: 35px;
}

.center {
  font-size: 35px;
}

.right {
  font-size: 35px;
}
