
body {
  background: url(74092096.jpg)

}


.up-center {
  font-family: Arial, serif;
  font-style: italic ;
  font-weight: bolder;
  font-size: 30px;
  text-decoration: blink;
  color: aliceblue;
  text-shadow: 1px 1px 2px black;
  text-align: center;


}
